@import 'https://seminarna.ru/assets/css/main.css?v=20170828'


$color: #01414a

.plans
	text-align: center
	ul li
		text-align: left
	h5+p
		margin-top: -0.5rem
		color: $color
	@media screen and (max-width: 80em)
		margin: 0 2rem
	@media screen and (max-width: 64em)
		margin: 0 10rem
	@media screen and (max-width: 50em)
		margin: 0 5rem
	@media screen and (max-width: 40em)
		margin: 0 2rem
	& > .row
		@media screen and (min-width: 64em)
			display: flex
			align-items: flex-end

	.plan
		box-shadow: 0 10px 50px rgba(0, 0, 0, 0.22)
		position: relative
		background-color: lighten($color, 82%)
		// z-index: 2
		@media screen and (max-width: 64em)
			margin-top: 2em
		.plan-name
			background-color: lighten($color, 20%)
			// font-weight: 600
			text-transform: uppercase
			color: white
			padding: 0.7rem 0
			margin-left: -30px
			margin-right: -30px
			position: relative
			margin-bottom: 0
			&:after,
			&:before
				content: ''
				display: block
				border: 7px solid transparent
				border-top: 7px solid lighten($color, 15%)
				border-right: 7px solid lighten($color, 15%)
				width: 0
				height: 0
				left: 0px
				bottom: -14px
				position: absolute
				z-index: -1
			&:after
				right: 0px
				left: initial
				border: 7px solid transparent
				border-left: 7px solid lighten($color, 15%)
				border-top: 7px solid lighten($color, 15%)
		// &:nth-child(1)
		&:nth-child(2)
			background-color: lighten($color, 80%)
			.plan-name
				background-color: lighten($color, 15%)
				&:before
					z-index: 1
					border-right-color: lighten($color, 10%)
					border-top-color: lighten($color, 10%)
				&:after
					border-left-color: lighten($color, 10%)
					border-top-color: lighten($color, 10%)
			.plan-info
				z-index: 2
		&:nth-child(3)
			background-color: lighten($color, 78%)
			.plan-name
				background-color: lighten($color, 10%)
				&:before
					z-index: 2
					border-right-color: lighten($color, 5%)
					border-top-color: lighten($color, 5%)
				&:after
					border-left-color: lighten($color, 5%)
					border-top-color: lighten($color, 5%)
			.plan-info
				z-index: 3
		&:nth-child(4)
			background-color: lighten(#03B3CC, 45%)
			.plan-name
				background-color: #03B3CC
				&:before
					z-index: 3
					border-right-color: darken(#03B3CC, 15%)
					border-top-color: darken(#03B3CC, 15%)
				&:after
					border-left-color: darken(#03B3CC, 15%)
					border-top-color: darken(#03B3CC, 15%)
			.plan-info
				z-index: 4


		// &:nth-child(1),
		// &:nth-child(3)
		// 	margin-top: 3em
		// &:nth-child(4)
		// 	margin-top: 6em


		hr
			margin-left: -.56818rem
			margin-right: -.56818rem
			border-bottom: 1px solid $color
			margin-top: 0.5rem
			@media screen and (min-width: 40em)
				margin-left: -.85227rem
				margin-right: -.85227rem

		.plan-info
			margin-left: -.56818rem
			margin-right: -.56818rem
			padding-left: .56818rem
			padding-right: .56818rem
			z-index: 1
			@media screen and (min-width: 40em)
				margin-left: -.85227rem
				margin-right: -.85227rem
				padding-left: .85227rem
				padding-right: .85227rem
		.plan-cost
			font-size: 3em
