@import 'https://seminarna.ru/assets/css/main.css?v=20170828';
.plans {
  text-align: center;
  margin: 0 1rem; }
  @media screen and (max-width: 80em) {
    .plans {
      font-size: 0.92rem; } }
  .plans ul li {
    text-align: left;
    line-height: 1.3; }
  .plans h5 + p {
    margin-top: -0.5rem;
    color: #01414a; }
  .plans p {
    line-height: 1.3; }
  @media screen and (max-width: 80em) and (min-width: 70em) {
    .plans .small-centered {
      width: 90%; } }
  @media screen and (max-width: 70em) and (min-width: 1024px) {
    .plans .small-centered {
      width: 100%; } }
  @media screen and (max-width: 1023px) and (min-width: 60em) {
    .plans .small-centered {
      width: 70%;
      max-width: 670px; } }
  @media screen and (max-width: 60em) and (min-width: 50em) {
    .plans .small-centered {
      width: 80%;
      max-width: 670px; } }
  @media screen and (max-width: 50em) and (min-width: 40em) {
    .plans .small-centered {
      width: 100%;
      max-width: 670px; } }
  @media screen and (max-width: 40em) {
    .plans .small-centered {
      max-width: 340px; } }
  @media screen and (min-width: 64em) {
    .plans > .column > .row {
      display: flex; } }
  .plans .plan {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.22);
    position: relative;
    background-color: #eefdff;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 2em; }
    @media screen and (max-width: 64em) {
      .plans .plan {
        margin-top: 1rem; } }
    .plans .plan .plan-name {
      background-color: #0299af;
      text-transform: uppercase;
      color: white;
      padding: 0.7rem 0;
      margin-left: -30px;
      margin-right: -30px;
      position: relative;
      margin-bottom: 0;
      font-size: 1.02273rem;
      font-weight: 700; }
      @media screen and (max-width: 40em) {
        .plans .plan .plan-name {
          margin-left: -25px;
          margin-right: -25px; } }
      .plans .plan .plan-name:after, .plans .plan .plan-name:before {
        content: "";
        display: block;
        border: 7.5px solid transparent;
        border-top: 7.5px solid black;
        border-right: 7.5px solid black;
        width: 0;
        height: 0;
        left: 0px;
        bottom: -14px;
        position: absolute;
        z-index: 0; }
      .plans .plan .plan-name:after {
        right: 0px;
        left: initial;
        border: 7.5px solid transparent;
        border-left: 7.5px solid black;
        border-top: 7.5px solid black; }
    .plans .plan:nth-child(1) {
      margin-top: 80px; }
      @media screen and (max-width: 1023px) and (min-width: 40em) {
        .plans .plan:nth-child(1) {
          margin-top: 3rem; } }
      @media screen and (max-width: 40em) {
        .plans .plan:nth-child(1) {
          margin-top: 1rem; } }
    .plans .plan:nth-child(2) {
      background-color: #b7f5fe;
      z-index: 1; }
      .plans .plan:nth-child(2) .plan-name {
        background-color: #34cce0; }
        .plans .plan:nth-child(2) .plan-name:before {
          z-index: 3;
          border-right-color: #012f35;
          border-top-color: #012f35; }
        .plans .plan:nth-child(2) .plan-name:after {
          border-left-color: #012f35;
          border-top-color: #012f35; }
      .plans .plan:nth-child(2) .plan-info {
        z-index: 4; }
    .plans .plan:nth-child(3) {
      z-index: 0;
      background-color: #e4fbff;
      margin-top: 80px;
      box-shadow: 0 10px 50px rgba(0, 0, 0, 0.42); }
      .plans .plan:nth-child(3) .plan-name {
        background-color: #028395; }
        .plans .plan:nth-child(3) .plan-name:before {
          z-index: 1;
          border-right-color: black;
          border-top-color: black; }
        .plans .plan:nth-child(3) .plan-name:after {
          border-left-color: black;
          border-top-color: black; }
      .plans .plan:nth-child(3) .plan-info {
        z-index: 2; }
      @media screen and (max-width: 1023px) {
        .plans .plan:nth-child(3) {
          margin-top: 1rem; } }
    .plans .plan hr {
      margin-left: -0.56818rem;
      margin-right: -0.56818rem;
      border-bottom: 1px solid #01414a;
      margin-top: 0.3rem;
      margin-bottom: 0.5rem; }
      @media screen and (min-width: 40em) {
        .plans .plan hr {
          margin-left: -0.85227rem;
          margin-right: -0.85227rem; } }
    .plans .plan .plan-info {
      margin-left: -0.56818rem;
      margin-right: -0.56818rem;
      padding-left: 0.56818rem;
      padding-right: 0.56818rem;
      z-index: 1; }
      @media screen and (min-width: 40em) {
        .plans .plan .plan-info {
          margin-left: -0.85227rem;
          margin-right: -0.85227rem;
          padding-left: 0.85227rem;
          padding-right: 0.85227rem; } }
    .plans .plan .plan-cost {
      font-size: 2em;
      margin-top: 0.1em;
      font-weight: 400; }
  .plans .button {
    transition: 0.4s;
    background-color: #ffe100;
    color: black;
    border: 2px solid #01414a; }
    @media screen and (min-width: 40em) {
      .plans .button {
        font-size: 1.2em; } }
    .plans .button:hover {
      background-color: #ffed66;
      box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=style.css.map */
